body{
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(138, 219, 219);
    text-overflow: ellipsis;
}

h1{
    text-align: center;
    font-style:oblique;    
}
button{
    text-align: center;  
    justify-content: center;
    align-items: center;
    margin: 5px auto;


}
.elform{
    display: grid;
    height: 500px;
    width: 400px;
    
    align-items: center;
    border-radius: 2.5%;
    background-color: antiquewhite;
}
.grupo{
    display: grid;
    text-align: center;
    margin: 8px auto;
    border-radius: 2.5%;
}
